
<mat-sidenav-container class="sidenav-container"  >
<mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <mat-toolbar id="toolId">DBS Blood Bank</mat-toolbar>
   <mat-nav-list >
      <a mat-list-item routerLink="/donorRequest">Blood Request</a>
      <a mat-list-item routerLink="/myRequest">Request History</a>
     <a mat-list-item  routerLink="/donationRequest">Donation Request</a>
      <a mat-list-item  routerLink="/donationRequestView">Donations History</a>

      

    </mat-nav-list>
  </mat-sidenav>
  </mat-sidenav-container>
 <div id="backGroundImage">
<div class="wrapper fadeInDown"  id="blockArea">
  <div id="formContent">
    <!-- Tabs Titles -->

    

    <!-- Login Form -->
    <form>
      <h1>Blood Request</h1>
      <input type="text"  id="inputForm" class="fadeIn second" name="username" placeholder="username" [(ngModel)]="donorRequest.username">
      <input type="text"  id="inputForm" class="fadeIn third" name="patientName" placeholder="patientName" [(ngModel)]="donorRequest.patientName">
      <input type="text"  id="inputForm" class="fadeIn second" name="patientAge" placeholder="patientAge" [(ngModel)]="donorRequest.patientAge">
      <input type="text"  id="inputForm" class="fadeIn second" name="reason" placeholder="reason" [(ngModel)]="donorRequest.reason">      
      <select  class="fadeIn first" name="bloodgroup"  [(ngModel)]="donorRequest.bloodGroup">
        <option value="undefined" >Select Your blood group</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
      </select>
      
      
      <input type="number"  id="inputForm" class="fadeIn second" name="units" placeholder="units" [(ngModel)]="donorRequest.units">
     
      <input type="submit" class="fadeIn fourth" id ="submit" value="Register" (click)="registerNow()">
    </form>

    

  </div>
</div>
</div>
