
<mat-sidenav-container class="sidenav-container"  >
<mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <mat-toolbar id="toolId">DBS Blood Bank</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink="/donor">View Blood Donors</a>
      <a mat-list-item routerLink="/adminDonorRequest">Blood Donors Requests</a>
      <a mat-list-item  routerLink="/adminDonationsView">Donation Requests</a>
      <a mat-list-item  routerLink="/acceptor">View Blood Acceptors</a>
      <a mat-list-item  routerLink="/adminAcceptorRequest">Acceptors Requests</a>
      
      
     
    </mat-nav-list>
  </mat-sidenav>
  </mat-sidenav-container>
 
<p align="center">admin works!</p>

