<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<mat-sidenav-container class="sidenav-container"  >
<mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <mat-toolbar id="toolId">DBS Blood Bank</mat-toolbar>
   <mat-nav-list >
      <a mat-list-item routerLink="/acceptorRequest">Blood Request</a>
      <a mat-list-item routerLink="/myAcceptorRequest">Request Blood History</a>
      <a mat-list-item routerLink="/acceptorDonorView">View Blood Donors</a>
    </mat-nav-list>
  </mat-sidenav>
  </mat-sidenav-container>

<div id="donor">
<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search by Blood Group"  name="name"[(ngModel)]="bloodGroup" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="getDonorByBloodGroup()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Blood Group</th>
            <th>City</th>
             
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.bloodGroup}}</td>
            <td>{{user.address}}</td>
             

            
          </tr>
    </tbody>
    </table>
    </div>
</div>

</div>





