<div id="backGroundImage">
<div class="wrapper fadeInDown"  id="blockArea">
  <div id="formContent">
    <!-- Tabs Titles -->

    

    <!-- Login Form -->
    <form>
      <h1>Contact</h1>
      <input type="text"  id="inputForm" class="fadeIn second" name="login" placeholder="username" >
      <input type="text"  id="inputForm" class="fadeIn third" name="login" placeholder="password">
       <input type="text"  id="inputForm" class="fadeIn second" name="phone" placeholder="Phone" >
      <input type="text"  id="inputForm" class="fadeIn second" name="email" placeholder="Email" >
      <input type="text"  id="inputForm" class="fadeIn second" name="city" placeholder="Citys" >
      <input type="submit" class="fadeIn fourth" id ="submit" value="Register" >
    </form>

    

  </div>
</div>
</div>
