<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<mat-sidenav-container class="sidenav-container"  >
<mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <mat-toolbar id="toolId">DBS Blood Bank</mat-toolbar>
   <mat-nav-list >
       <a mat-list-item routerLink="/donor">View Blood Donors</a>
      <a mat-list-item routerLink="/adminDonorRequest">Blood Donors Requests</a>
      <a mat-list-item  routerLink="/adminDonationsView">Blood Donation Requests</a>
      <a mat-list-item  routerLink="/acceptor">View Blood Acceptors</a>
      <a mat-list-item  routerLink="/adminAcceptorRequest">Acceptors Requests</a>
      
      
     
    </mat-nav-list>
  </mat-sidenav>
  </mat-sidenav-container>

<div id="acceptor">


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search by Blood Group"  name="name"[(ngModel)]="bloodGroup" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="getAcceptorByBloodGroup()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Blood</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.bloodGroup}}</td>
            <td>{{user.address}}</td>
            <td>
                <button type="button" mdbBtn color="primary" class="btn btn-danger" (click)="onDeleteAcceptor(user)"  mdbWavesEffect>DELETE</button>

            </td>

            
          </tr>
    </tbody>
    </table>
    </div>

</div>






</div>






