
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<div id="backGroundImage">
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <!-- Tabs Titles -->

    

    <!-- Login Form -->
    <form>
    <h1>Donor</h1>
      <input type="text" [(ngModel)]="request.username" id="login" class="fadeIn second" name="login" placeholder="username">
      <input type="password" [(ngModel)]="request.password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" id ="submit" value="Log In" (click)="getAccessToken()">
    </form>

    

  </div>
</div>
</div>